<header>
    <h1>Quicktexts</h1>

    <div class="header-actions">
        <input type="text" class="form-control" id="search-input" ng-model="searchText" ng-change="searchChange()"
               placeholder="Search quicktexts"/>
    </div>
</header>

<div class="btn-toolbar" ng-hide="pageAction">
    <a ng-click="showForm()" class="btn btn-primary">New quicktext</a>

    <div class="pull-right">
        <a ng-click="deleteQt()" ng-if="quicktexts.length && selectedQuicktexts.length"
           class="btn btn-danger">Delete</a>
        <a ng-click="showShareModal()" ng-if="quicktexts.length && selectedQuicktexts.length" class="btn btn-default">Share</a>
        <a ng-click="showImportModal()" class="btn btn-default">Import Quicktexts</a>
    </div>
    <div class="row quicktext-filters">
        <div class="col-sm-12" ng-if="quicktexts">
            <input type="checkbox" ng-click="toggleSelectAll()" ng-model="selectedAll"/>
            <span ng-repeat="(tag, count) in tags">
              <a href='' class="label"
                 ng-class="{true: 'label-primary', false: 'label-default'}[filterTags.indexOf(tag) !== -1]"
                 ng-click="toggleFilterTag()">{{ tag }}<span ng-if="count > 1"> ({{ count }})</span></a>
            </span>
        </div>
    </div>
</div>

<div ng-show="quicktexts.length">

    <div class="row quicktext-item"
         ng-repeat="quicktext in quicktexts | filter:searchText | tagFilter:filterTags | limitTo:limitQuicktexts"
         ng-class="{'active': $index === focusIndex}"
         data-quicktext-id="{{ quicktext.id }}">

        <div class="col-sm-6 quicktext-details-primary">
            <input type="checkbox" name='quicktext' value="{{ quicktext.id }}" ng-model="quicktext.selected"
                   ng-click="toggleQuicktext()"/>

            <p>
                <span class="text-muted">Title: </span>
                {{ quicktext.title }}
            </p>

            <p ng-if="quicktext.shortcut">
                <span class="text-muted">Tab Completion: </span>
                {{ quicktext.shortcut }}
            </p>

            <div title="{{ quicktext.body }}" ng-bind-html="quicktext.body | truncate:100 | newlines | safe"></div>
        </div>

        <div class="col-sm-6 quicktext-details-secondary">
            <p ng-if="quicktext.subject">
                <span class="text-muted">Subject: </span>
                {{ quicktext.subject }}
            </p>

            <p ng-if="quicktext.tags">
        <span ng-repeat="tag in quicktext.tags.split(',')">
          <span class="label"
                ng-class="{true: 'label-primary', false: 'label-default'}[filterTags.indexOf(tag.trim()) !== -1]">{{ tag.trim() }}</span>
        </span>
            </p>

            <div class="quicktext-actions">
                <div class="btn-group">
                    <button class="btn btn-primary btn-xs edit-button" ng-click="showForm()">edit</button>
                    <button class="btn btn-default btn-xs delete-button" ng-click="deleteQt()">delete</button>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="row load-more text-center" ng-if="quicktexts.length > limitQuicktexts">
    <button ng-click="loadMore()" class="btn btn-primary">Load more Quicktexts</button>
</div>

<div class="blank-state" ng-show="!quicktexts.length">
    <p>You don't have any quicktexts yet. </p>

    <p><a ng-click="showForm()" href="">Create</a> or <a ng-click="showImportModal()" href="">Import </a> to get
        started. </p>
</div>

<div ng-include="'/static/js/auth/views/quicktext/includes/quicktext_form.html'"></div>
<div ng-include="'/static/js/auth/views/quicktext/includes/import_form.html'"></div>
<div ng-include="'/static/js/auth/views/quicktext/includes/share_form.html'"></div>
<div ng-include="'/static/js/auth/views/quicktext/includes/installation_modal.html'"></div>
<div ng-include="'/static/js/auth/views/includes/subscription_form.html'"></div>
