<!DOCTYPE html>
<html data-ng-app="qApp">
<head>
    <meta charset="utf-8">
    <title>Quicktext</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/_build/auth.css">
    <link rel="icon" type="image/png" href="/static/img/icon48.png">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="/static/img/icon128.png">
    <link href="https://chrome.google.com/webstore/detail/lmcngpkjkplipamgflhioabnhnopeabf" rel="chrome-webstore-item">
    {% block styles %}{% endblock%}
</head>
<body>

  <div class="container">

    <div class="sidebar-wrapper">

      <a href="{{url_for('auth_index')}}" class="brand">
        <img src="/static/img/icon128.png" />
        Quicktext
      </a>


      <ul class="nav nav-pills nav-stacked">

        {% raw %}
          <li ng-class="{ 'active': (path === '/quicktexts') }">
            <a href="#/quicktexts">Quicktexts</a>
          </li>
          <li ng-class="{ 'active': (path === '/account') }">
            <a href="#/account">Manage Account</a>
          </li>
          <li ng-class="{ 'active': (path === '/stats') }">
            <a href="#/stats">Statistics</a>
          </li>
          <li ng-if="user.is_staff" ng-class="{ 'active': (path === '/staff') }">
            <a href="#/staff">Staff</a>
          </li>
        {% endraw %}

        <!-- <li><a href="{{ url_for('social.connect', provider_id='google') }}">Connect with Google</a></li> -->
        <li><a href="http://help.quicktext.io/" class="external" target="_blank">Help <span class="fa fa-external-link fa-1"></span></a></li>

        <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
      </ul>

    </div>

    <div class="view-container">
      <!--  ignore flashed messages for now
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-info">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      -->
      <div class="container-animation" data-ng-view></div>
      <footer>{% block footer %}{% endblock%}</footer>
    </div>

  </div>

  <script src="/static/js/_build/auth.js"></script>

  <script>
      var _gaq=[['_setAccount','UA-39745701-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
  typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
  b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
  mixpanel.init("bcb5c3ae512d84394b5cea975a6aac54");</script><!-- end Mixpanel -->

</body>
</html>
