<header>
    <h1>Users</h1>

    <div class="header-actions">
        <input type="text" class="form-control" id="search-input" ng-model="searchText" ng-change="searchChange()"
               placeholder="Search users"/>
    </div>
</header>

<table class="table table-condensed table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Customer</th>
        <th>Active</th>
        <th>Created On</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users | filter:searchText">
        <td>{{ user.id }}</td>
        <td>{{ user.info.name }}</td>
        <td><a ng-click="editUser()">{{ user.email }}</a></td>
        <td><span ng-if="user.is_customer" class="fa fa-check"></span></td>
        <td><span ng-if="user.active" class="fa fa-check"></span></td>
        <td>{{ user.created_datetime|date}}</td>
        <td><button class="btn btn-default btn-sm" ng-click="impersonate()">Impersonate</button></td>
    </tr>
    </tbody>
</table>
