<div class="modal fade" id="subscription-modal" tabindex="-1" role="dialog" data-aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Please subscribe</h4>
            </div>
            <div class="modal-body">
                <p>Hey! We're glad you enjoy Quicktext. How about a subscription?</p>

                <div class="alert alert-danger fade in" ng-if="paymentError">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>Oh snap! Failed to upgrade!</h4>

                    <p>{{ paymentError }}</p>

                    <p>
                        <button type="button" class="btn btn-default" ng-click="subscribe()">Try Again</button>
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-6" ng-repeat="plan in plans[preferredCurrency]">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <strong>{{ plan.name }} <span class="label label-success"
                                                              ng-if="plan.interval == 'year'">
                            Best Value!</span></strong>
                            </div>
                            <div class="panel-body">
                                <span class="price">{{ (plan.amount * quantity).toFixed(2) }}</span>
                                <span class="currency">{{ plan.currency|uppercase }}</span>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">x 1 User/Year:
                            <span class="amount"
                                  ng-if="plan.interval == 'month'">{{ (plan.amount * 12 * quantity).toFixed(2) }}</span>
                            <span class="amount"
                                  ng-if="plan.interval == 'year'">{{ (plan.amount * quantity).toFixed(2) }}</span>
                                    <span class="currency-sign" ng-bind-html-unsafe="plan.currency_sign"></span>
                                </li>
                                <li class="list-group-item">Unlimited quicktexts</li>
                                <select id="quantity" ng-model="quantity"
                                        ng-options="n for n in [] | range:1:30"></select>
                                <label for="quantity">users.</label>
                                <li class="list-group-item">
                                    <a class="btn btn-primary subscribe-button" href=""
                                       ng-click="subscribe()">Upgrade</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="italic">We won't charge you until your trial expires!</p>
            </div>

        </div>
    </div>
</div>
<script src="https://checkout.stripe.com/checkout.js"></script>
