<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock%} - Quicktext for Chrome™</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/_build/public.css" rel="stylesheet" media="screen">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700,600" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/img/icon48.png">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="/static/img/icon128.png">
    {% block styles %}{% endblock%}
</head>
<body>

<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

{% block header %}
<nav class="navbar navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#quicktext-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/static/img/logo-white.png" alt=""/>
                Quicktext
            </a>
        </div>

        <div class="collapse navbar-collapse" id="quicktext-navbar">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/#features">Features</a>
                </li>
                <li>
                    <a href="/#pricing">Pricing</a>
                </li>
                <li>
                    <a href="/#login" class="btn btn-default">Login</a>
                </li>
                <li>
                    <a href="/#registration" class="btn btn-primary">Sign up</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
{% endblock %}

<div class="container">

  <!--
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-info">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  -->

  <section class="row">
    {% block content %}{% endblock %}
  </section>

  {% block footer %}
    <section class="footer">
        <div class="row">
            <ul class="list-inline text-center">
                <li>
                    <a href="http://help.quicktext.io/">Help</a>
                </li>
                <li>
                    <a href="https://github.com/humanfromearth/quicktext-chrome">GitHub</a>
                </li>
                <li>
                    <a href="http://blog.quicktext.io/">Blog</a>
                </li>
                <li>
                    <a href="{{ url_for('privacy') }}">Privacy Policy</a>
                </li>
                <li>
                    <a href="mailto:support@quicktext.io">Contact</a>
                </li>
            </ul>
        </div>
    </section>
  {% endblock%}
</div>

<script src="/static/js/_build/public.js"></script>
<script>
    var _gaq=[['_setAccount','UA-39745701-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{% block extra_footer %}{% endblock %}
</body>
</html>
