{% from 'utils/_formhelpers.html' import render_field %}

<form role="form" action="{{ url_for('forgot') }}" method="POST">
    {{ form.hidden_tag() }}

    {{ render_field(form.email, class='form-control') }}
    <p class="help-block">We'll send an e-mail with the recovery instructions.</p>

    <div class="text-right">
        <button type="submit" class="btn btn-default">Recover Your Password</button>
    </div>
</form>

