<!DOCTYPE html>
<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html>
<head>
    <title>Quicktext for Chrome&#8482;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/_build/public.css" rel="stylesheet" media="screen">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700,600" rel="stylesheet">
    <link href="https://chrome.google.com/webstore/detail/lmcngpkjkplipamgflhioabnhnopeabf" rel="chrome-webstore-item">
    <link rel="icon" type="image/png" href="/static/img/icon48.png">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="/static/img/icon128.png">
</head>
<body>

<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#quicktext-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" itemprop="brand" itemscope itemtype="http://schema.org/Brand">
                <span itemscope itemtype="http://schema.org/Product">
                  <img itemprop="logo" src="/static/img/logo-white.png" alt=""/>
                  <span itemprop="name">Quicktext</span>
                </span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="quicktext-navbar">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#features">Features</a>
                </li>
                <li>
                    <a href="#pricing">Pricing & Sign Up</a>
                </li>
                <li>
                    <a href="#login" class="btn btn-default login-button">Login</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="jumbotron promo">
    <div class="container">

        <h1>Write emails faster.</h1>

        <p itemprop="description">A powerful extension for heavy Gmail&#8482; users.</p>

        <p>
            <a class="btn btn-primary btn-lg" role="button" href="#pricing">Pricing & Signup</a>
            <a id="install-extension" href="#home-extension" onclick="chrome.webstore.install()" class="btn btn-default btn-lg" role="button">Free Chrome Extension</a>
        </p>

        <!-- <p class="no-credit-card">You and your team get a 21 day trial.</p> -->

        <div class="screenshot">
            <img width="960" height="360" src="/static/img/q.gif" alt="Gmail&#8482; Quicktext video"/>
            <a class="play-button" onclick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'Quicktext Demo Video']);"
               data-toggle="modal" data-target="#video-modal">
                <span class="fa fa-play-circle"></span>
            </a>
        </div>

    </div>
</div>

<div class="container homepage">

<section class="time-saved">

    <div class="page-header">
        <h1>
            Time <strong>saved</strong> with Quicktext
        </h1>
    </div>
    {% if saved_time %}
    <div class="row">
        <div class="odometers">
            {% if times.years %}
            <span id="odometer-years"><span class="odometer">{{ times.years }}</span>    <span
                    class="odometer-label">years</span></span>
            {% endif %}
            {% if times.days %}
            <span id="odometer-days"><span class="odometer">{{ times.days }}</span>   <span class="odometer-label">days</span></span>
            {% endif %}
            {% if times.hours %}
            <span id="odometer-hours"><span class="odometer">{{ times.hours }}</span>   <span
                    class="odometer-label">hours</span></span>
            {% endif %}
            {% if times.minutes %}
            <span id="odometer-minutes"><span class="odometer">{{ times.minutes }}</span> <span
                    class="odometer-label">minutes</span></span>
            {% endif %}
        </div>
    </div>
    {% endif %}

</section>

<section id="features" class="home-features">

    <div class="page-header">
        <h1>
            Features you missed all along
        </h1>
    </div>

    <div class="row">

        <div class="col-sm-6 col-md-3">
            <a href="http://help.quicktext.io/en/latest/src/01-automatic-suggestions.html" class="thumbnail">
                <div class="feature-icon">
                    <img src="/static/img/sugg.png" width="260" height="180" alt="">
                </div>

                <div class="caption">
                    <h3>Automatic Suggestions</h3>

                    <p>Let Quicktext suggest a shortcut.</p>

                    <p>Every time you type a word that matches a Quicktext, a suggestions box appears and shows you a
                        list of possible Quicktexts you might want to use. </p>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-3">
            <a href="http://help.quicktext.io/en/latest/src/02-tab-completion.html" class="thumbnail">
                <div class="feature-icon">

                    <div class="tab-completion">
                        h <span class="text-cursor"></span>
                        <i class="fa fa-plus"></i>
                  <span class="keyboard-key">
                    Tab ↹
                  </span>
                        <i class="fa fa-angle-double-right result-icon"></i>
                        hello
                        <span class="text-cursor"></span>
                    </div>

                </div>

                <div class="caption">
                    <h3>Tab Completion</h3>

                    <p>Insert Quicktexts using <strong>shortcuts</strong>.</p>

                    <p>You can define you own shortcuts and activate them by pressing the Tab key.</p>

                    <p>Programmers have long been using shortcuts to write code, saving hundreds of keystrokes, so why
                        shouldn't you?</p>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-3">
            <a href="http://help.quicktext.io/en/latest/src/03-sync.html" class="thumbnail">
                <div class="caption">

                    <div class="feature-icon">

                    <span class="fa-stack">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>

                    </div>

                    <h3>Team Sharing &amp; Synchronization</h3>

                    <p>Stop wasting time copy/pasting Quicktexts your teammates have.

                    <p>

                    <p>With the Sharing and Synchronization feature, your whole team will always have the latest
                        Quicktexts.</p>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-3">
            <a href="http://help.quicktext.io/en/latest/src/04-templates.html" class="thumbnail">
                <div class="feature-icon">
                    <img src="/static/img/search.png" width="260" height="180" alt="">
                </div>

                <div class="caption">
                    <h3>Templates, Search...</h3>

                    <p>Quickly find the right quicktext.</p>

                    <p>Template variables, searching by tags and other awesome features await you and your team.</p>
                </div>
            </a>
        </div>

    </div>

</section>

<section id="pricing" class="home-pricing">

    <div class="page-header">
        <h1>
            Pricing &amp; SignUp
            <small>Risk free, 60-day money back guarantee!</small>
        </h1>
    </div>
    <div class="row" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        {% for plan in plans %}
            <div class="{% if plan.interval == 'month' %}col-sm-3 col-sm-offset-3 price-secondary{% else %}col-sm-4 price-primary{% endif %}">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>{{ plan.name }} {% if plan.interval == 'year' %}<span class="label label-success">
                            Best Value!</span>{% endif %}</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price" itemprop="price">{{ plan.tens }}{{ plan.currency_sign|safe }}<span
                                class="price-cents">{{ plan.cents }}</span><span class="price-month">/month</span></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Team Member per Year:
                            {% if plan.interval == 'month' %}{{ plan.amount * 12 }}{% else %}
                                {{ plan.amount }}{% endif %}{{ plan.currency_sign|safe }}
                        </li>
                        <li class="list-group-item">Unlimited quicktexts</li>
                        <li class="list-group-item"><strong>Email</strong> Support</li>
                        <li class="list-group-item"><a class="btn btn-primary register-button" href="{{ url_for('signup', plan=plan.sku) }}">Choose Plan</a></li>
                    </ul>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <h3 class="col-sm-12 text-center">Sign up and get <strong>14 days for Free!</strong></h3>
        </div>
        <br/>
    </div>
    <div class="payment-info">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <h3>What do I get if I subscribe?</h3>

                <p>You will be able to share and synchronise your quicktexts with your team, at the same time you get a
                    free backup and insightful facts about your quicktext usage.</p>
            </div>
            <div class="col-sm-4">
                <h3>I work in a team. Do I need an account for each user?</h3>

                <p>Yes, an account for each user is required. The number of users can be increased or decreased
                    according to your needs.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <h3>What type of payments are accepted?</h3>

                <p>At the moment only Visa, Master Card and American Express cards are accepted. We do not accept
                    payments via PayPal or physical cheques.</p>
            </div>
            <div class="col-sm-4">
                <h3>Can I add, upgrade and downgrade plans within my account?</h3>

                <p>Yes, the monthly plan can be changed to the Yearly plan at any time. However an Yearly plan can only
                    be changed to a Monthly plan 30 days prior to expiry.</p>
            </div>
        </div>
    </div>

</section>

<section class="home-extension clearfix" id="home-extension">

    <div class="page-header">
        <h1>
            Free browser extension
        </h1>
    </div>

    <div class="row">

        <div class="col-sm-4 col-sm-offset-2">

            <p><strong>Quicktext for Chrome&#8482;</strong> can be used <em>standalone</em> and <em>completely free</em>
                without an account on this website!</p>

            <p>You can download the Chrome extension from the <a
                    href="https://chrome.google.com/webstore/detail/quicktext-for-chrome/lmcngpkjkplipamgflhioabnhnopeabf">Chrome
                Web Store</a> and start using it right away.</p>

            <p>If you want to contribute, you can get the <a href="https://github.com/humanfromearth/quicktext-chrome">source
                code</a> (MIT License) or report any bugs you find on <a
                    href="https://github.com/humanfromearth/quicktext-chrome/issues">github</a> or by <a
                    href="mailto:support@quicktext.io">e-mail</a>.</p>

        </div>

        <div class="col-sm-4">

            <a href="https://chrome.google.com/webstore/detail/quicktext-for-chrome/lmcngpkjkplipamgflhioabnhnopeabf">
                <img src="/static/img/webstore-badge.png" alt="Available on the Chrome Web Store">
            </a>

        </div>

    </div>

</section>

<section class="footer">
    <div class="row">
        <ul class="list-inline text-center">
            <li>
                <a href="http://help.quicktext.io/">Help</a>
            </li>
            <li>
                <a href="https://github.com/humanfromearth/quicktext-chrome">GitHub</a>
            </li>
            <li>
                <a href="http://blog.quicktext.io/">Blog</a>
            </li>
            <li>
                <a href="{{ url_for('privacy') }}">Privacy Policy</a>
            </li>
            <li>
                <a href="mailto:support@quicktext.io">Contact</a>
            </li>
        </ul>
    </div>
</section>

</div>

<div class="modal fade video-modal" id="video-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <iframe width="400" height="300" frameborder="0" allowfullscreen=""
                    src="https://www.youtube.com/embed/G1WZDdT9eNU?autoplay=0&html5=1"></iframe>
        </div>
    </div>
</div>

<div class="modal fade login-modal" tabindex="-1" role="dialog" aria-hidden="true" id="login">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Log in to Quicktext</h4>
            </div>

            <div class="modal-body">
                <div class="alert alert-danger error-message hide">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div class="error-body"></div>
                </div>
                {% include "public/login.html" with context %}
            </div>

            <div class="modal-footer">
                <p>Looking to <a href="/#registration" class="register-button">create an account</a> instead?</p>
            </div>

        </div>
    </div>
</div>
{% if forgot_form %}
<div class="modal fade forgot-modal" tabindex="-1" role="dialog" aria-hidden="true" id="login">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Forgot your password?</h4>
            </div>

            <div class="modal-body">
                <div class="alert alert-danger error-message hide">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div class="error-body"></div>
                </div>

                <div class="alert alert-success success-message hide">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div class="message-body"></div>
                </div>

                {% with form=forgot_form %}
                    {% include "public/forgot.html" with context %}
                {% endwith %}
            </div>

            <div class="modal-footer">
                <p>Looking to <a href="/#login" class="login-button">sign-in</a> instead?</p>
            </div>

        </div>
    </div>
</div>

{% endif %}

<script src="/static/js/_build/public.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46737877-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
