{% from 'utils/_formhelpers.html' import render_field %}
<div class="row">
    <div class="col-xs-5">
        <form action="{{ url_for('social.login', provider_id='google') }}" method="POST" target="_parent">
            <button type="submit" class="btn btn-social btn-google">
                <i class="fa fa-google-plus"></i> Sign in with Google
            </button>
        </form>
    </div>
    <div class="col-xs-7">
        <form role="form" action="{{ url_for('signin') }}" method="POST">
            {{ login_user_form.hidden_tag() }}

            {{ render_field(login_user_form.email, class='form-control') }}
            {{ render_field(login_user_form.password, class='form-control') }}

            <div class="text-right">
                <a class="recover-password hide" href="/#forgot">Forgot password?</a>
                <button type="submit" class="btn btn-default">Login</button>
            </div>
        </form>
    </div>
</div>
