{% extends "public/base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}

<div class="page-header">
  <h1>
    Privacy Policy
    <small>February 9, 2014</small>
  </h1>
</div>

<dl>
  <dt>
    Will you read my e-mails or get my contacts?
  </dt>
  <dd>
    <p>No! The extension inserts snippets of text and reads words to complete those snippets. Variables such as your name or your contacts name maybe be used in templates, but none of that information is sent to our servers! All is done
    locally on your computer. Not your contacts information, nor your e-mail contents will get to our servers. </p>
  </dd>
</dl>

<dl>
  <dt>
    What data do you collect?
  </dt>
  <dd>
    <p>By default only anonymous data is collected. Data such as how many words where saved using the Chrome Quicktext extension. This is done to improve quicktext and get an idea of how quicktext is used. Other than this anonymous data the extension sends statistics to Google Analytics servers for the same purposes. </p>
    <p>Any of the above information collection can be disabled from the <em>Options</em> menu of the extension. No hard feelings. We respect your privacy. </p>
  </dd>
</dl>

<dl>
  <dt>
    What about my quicktexts and other private data?
  </dt>
  <dd>
    <p>Your data is your data. You own it. There is no lock-in, you can at any time, export, modify or close your account permanently. If you decide to take away your data with you we guarantee to take all the steps to ensure that your is safely erased (including backups). One exception to this is historical billing information (if any). </p>
    <p>We remind you that visiting our website can be done anonymously (there is a google analytics/mixpanel snippet though). </p>
</dl>

<dl>
  <dt>
    What do we use your information for?
  </dt>
  <dd>
    <p>Any of the information we collect from you may be used in one of the following ways:
    <ul>
      <li>To personalize your experience (your information helps us to better respond to your individual needs). </li>
      <li>To improve our website (we continually strive to improve our service based on the information and feedback we receive from you). </li>
      <li>To improve customer service (your information helps us to more effectively respond to your customer service and support needs).</li>
    </ul>
  </dd>
</dl>

<dl>
  <dt>
    Do we use cookies?
  </dt>
  <dd>
    <p>Yes. Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.</p>
  </dd>
</dl>

<dl>
  <dt>
    Do we disclose any information to outside parties?
  </dt>
  <dd>
    <p>We do not sell, trade, or otherwise transfer your personal information except in accordance with this policy. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
  </dd>
</dl>

<dl>
  <dt>
    Online Privacy Policy Only
  </dt>
  <dd>
    <p>This online privacy policy applies only to information collected through our website and not to information collected offline (via phone or in person). </p>
  </dd>
</dl>

<dl>
  <dt>Your Consent</dt>
  <dd>
    <p>By using our site and/or extension, you consent to this privacy policy.</p>
  </dd>
</dl>

<dl>
  <dt>Changes to our Privacy Policy</dt>
  <dd>
    <p>If we decide to change our privacy policy, we will post those changes on this page, send an email notifying you of any changes, and/or update the Privacy Policy modification date below. Policy changes will apply only to information collected after the date of the change.</p>
  </dd>
</dl>

<dl>
  <dt>Feedback</dt>
  <dd>
    <p>If there are any questions regarding this privacy policy you may contact us: <a href="mailto:support@quicktext.io">support@quicktext.io</a></p>
  </dd>
</dl>

{% endblock %}
