{% from 'utils/_formhelpers.html' import render_field %}
<div class="col-xs-5">

    {% if login_failed %}
        <div class="alert alert-info">
            Please continue the registration process.
        </div>
    {% else %}
        <form action="{{ url_for('social.login', provider_id='google') }}" method="POST" target="_parent">
            <button type="submit" class="btn btn-social btn-google">
                <i class="fa fa-google-plus"></i> Sign in with Google
            </button>
        </form>
    {% endif %}

</div>

<div class="col-xs-7">
    <form role="form" action="{{ url_for('registration', provider_id=provider_id if provider_id else None) }}"
          method="POST">

        {{ form.hidden_tag() }}
        <div class="row">
        {{ render_field(form.given_name, col="col-md-5 given-name", class='form-control focus') }}
        {{ render_field(form.family_name, col="col-md-7", class='form-control') }}
        </div>
        {{ render_field(form.email, class='form-control') }}
        {{ render_field(form.password, class='form-control') }}

        <div class="row">
            <div class="col-xs-8">
                <p>
                    By creating an account you agree to our <a href="/privacy" target="_parent">Privacy Policy</a>.
                </p>
            </div>

            <div class="col-xs-4">
                <div class="text-right">
                    <button type="submit" class="btn btn-default">Sign up</button>
                </div>
            </div>
        </div>
    </form>
</div>

