{% extends "public/base.html" %}
{% from 'utils/_formhelpers.html' import render_field %}
{% block title %}Reset password{% endblock %}
{% block content %}
{% include "security/_messages.html" %}
<h1>Reset password</h1>
<form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form" role="form">
  {{ reset_password_form.hidden_tag() }}
  {{ render_field(reset_password_form.password, class='form-control focus', placeholder="Minimum 6 characters") }}
  {{ render_field(reset_password_form.password_confirm, class='form-control', placeholder="") }}
  <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Reset Password">
</form>
{% endblock %}
