{% extends "public/base.html" %}
{% from 'utils/_formhelpers.html' import render_field %}
{% block title %}Sign Up{% endblock %}
{% block extra_footer %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        var PLAN_UNIT_COST = {{ plan.amount }};
        Stripe.setPublishableKey('{{stripe_key}}');
    </script>
{% endblock %}
{% block content %}
    <div class="container signup-page">
        <div class="page-header">
            <h1>Sign Up</h1>
            <small>Risk Free. <strong>60 Day Money Back Guarantee</strong>. Cancel Any Time.</small>
        </div>
        <div class="row signup-form">
            <form role="form"
                  id="signup-form"
                  action=""
                  method="POST">

                {{ form.hidden_tag() }}
                <div class="well account-info">
                    {{ render_field(form.name, placeholder="Ada Lovelace", class='form-control focus', required="") }}
                    {{ render_field(form.email, placeholder="email@company.com", class='form-control', required="", type="email") }}
                    {{ render_field(form.password, placeholder="minimum 6 characters", class='form-control', required="") }}
                    {{ render_field(form.quantity, class='form-control slider', label_extra="(<span class='slider-value'></span>)") }}
                    <div class="row reminder">
                        <div class="seal seal-gold col-md-5">&nbsp;</div>
                        <div class="info col-md-7">
                            <p>You have a <b>60-day money back guarantee</b>! Don't like our product? No worries.
                                Contact us within 60 days and we'll refund you. We'll also stay friends!</p>
                        </div>
                    </div>
                </div>


                <div class="well cc-info">
                    <div class="cc-errors alert alert-danger hide" role="alert"></div>
                    <div class="form-group">
                        <label for="cc-number">Card number</label>
                        <span class="cc-types">
                           <b class="cc-icon visa"></b>
                           <b class="cc-icon mastercard"></b>
                           <b class="cc-icon amex"></b>
                        </span>
                        <input type="text" id="cc-number" class="form-control input-lg" data-stripe="number"
                               autocompletetype="cc-number" required="">
                    </div>
                    <div class="form-group row">
                        <div class="cvc col-md-6">
                            <label for="cvc">CVC</label>
                            <input type="text" size="4" id="cc-cvc" maxlength="4" data-stripe="cvc"
                                   class="form-control input-lg"
                                   autocomplete="off"
                                   autocompletetype="cc-csc" pattern="\d*">
                        </div>
                        <div class="expiration col-md-6">
                            <label for="cc-exp">Expiration Date</label>

                            <div class="row">
                                <div class="col-md-5">
                                    <input type="text" id="cc-exp-month" class="form-control input-lg"
                                           data-stripe="exp-month" pattern="\d{2}"
                                           placeholder="MM" required="">
                                </div>
                                <div class="col-md-2">
                                    <span class="cc-exp-separator hidden-xs">/</span>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="cc-exp-year" class="form-control input-lg col-md-4"
                                           data-stripe="exp-year"
                                           pattern="\d{2}"
                                           placeholder="YY" required="">
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if form.coupon.data %}
                    <div class="form-group coupon">
                        {{ render_field(form.coupon, placeholder="COUPON_CODE", class='form-control') }}
                    </div>
                    {% endif %}
                    <div class="row text-center">
                        <button type="submit" class="btn btn-primary">Sign up now:
                            <span id="total-amount">{{ plan.amount * form.quantity.default }}</span>{{ plan.currency_sign|safe }}
                            per {{ plan.interval }}</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
{% endblock %}
