<header>
    <h1>My Account</h1>

    <div class="header-actions">
        <a href="#/subscriptions" class="btn btn-default">Subscriptions</a>
    </div>
</header>

<div class="alert alert-success updated-account-message hide">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Saved account info
</div>
<div class="row">
    <div class="col-sm-12">
        <form data-role="form" class="form-horizontal" name="account-form0" ng-submit="saveAccount()">
            <div class="form-group">
                <label for="given_name" class="col-sm-3 control-label">Full Name</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="name" ng-model="user.name"/>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email</label>

                <div class="col-sm-6">
                    <input type="email" class="form-control" id="email" ng-model="user.email" required
                           autocomplete="off"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">New Password</label>

                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password" ng-model="user.password" value=""
                           autocomplete="off"/>
                </div>
            </div>
            <div class="checkbox">
                <div class="col-sm-offset-3 col-sm-6">
                    <label>
                        <input type="checkbox" id="share_all" ng-model="user.share_all" ng-false-value=""/> Share
                        quicktexts by default
                        with all your team.
                    </label>
                </div>
            </div>
            <br/>
            <br/>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
            <!--
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button class="btn btn-default">Connect Google</button>
                    <p class="help-block">Connect with your Google Account in the future.</p>
                </div>
            </div>
            -->
        </form>
    </div>
</div>

<br/>
<div class="row">
    <div class="col-sm-12">
        <h3>Team Members</h3>

        <div ng-if="formErrors" class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <p ng-repeat="(field, errors) in formErrors">
                <span ng-repeat="err in errors">{{ field }}: {{ err }}</span>
            </p>
        </div>
        <form action="" role="form" id="members-form" ng-submit="saveMembers()">
            <table class="table table-condensed member-table">
                <tr>
                    <th><img src="//www.gravatar.com/avatar/{{ user.email | gravatar }}?d=retro"
                                         class="avatar"></th>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td></td>
                </tr>
                <tr ng-repeat="member in members">
                    <th><img src="//www.gravatar.com/avatar/{{ member.email | gravatar }}?d=retro"
                                         class="avatar"></th>
                    <td>
                        <input type="text" id="name" class="form-control" ng-model="member.name"
                               placeholder="Full Name" ng-if="user.is_customer"/>
                        <span ng-if="!user.is_customer">{{ member.name }}</span>
                    </td>
                    <td>
                        <input type="email" id="email" class="form-control" ng-model="member.email"
                               placeholder="member@team.com" ng-if="user.is_customer"/>
                        <span ng-if="!user.is_customer">{{ member.email }}</span>
                    </td>
                    <td><span class="btn btn-danger btn-md" ng-click="deleteMember()"
                              ng-if="member.id && user.is_customer">delete
                    </span>
                    </td>
                </tr>
            </table>
            <div class="customer-actions" ng-if="user.is_customer">
                <div class="help-block">Need more? You can easily <a href="#/subscriptions">upgrade</a>.</div>
                <div class="checkbox">
                    <button type="submit" class="btn btn-primary">Save Members</button>
                    <label for="sendNotification">
                        <input type="checkbox" id="sendNotification" ng-model="sendNotification" ng-false-value=""/>
                        Send e-mail notification (only new members)
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
<div ng-include="'/static/js/auth/views/includes/subscription_form.html'"></div>
