<header>
    <h1>Subscriptions</h1>

    <div class="header-actions">
        <a href="#/account" class="btn btn-default">My Account</a>
    </div>
</header>

<div class="row" ng-if="user.is_customer">
    <div class="col-sm-4">

        <h4>&nbsp;</h4>

        <div class="subscriptions">
            <p class="subscription" ng-repeat="sub in subscriptions">
                Your <em ng-if="sub.active">current</em> <strong>{{ sub.plan.name }}</strong> subscription
                <span ng-if="sub.active === null">will start on</span>
                <span ng-if="sub.active !== null">started on</span>
                <strong>{{ sub.start_datetime | date:'dd MMMM yyyy' }}</strong><span ng-if="sub.active === false">
                 and ended on <strong>{{ sub.end_datetime | date:'dd MMMM yyyy' }}</strong></span><span ng-if="sub.quantity">
                 with <strong>{{ sub.quantity }}</strong> member<span ng-if="sub.quantity > 1">s</span></span>.
            </p>
        </div>

        <p class="small">Only you, as the account owner, can upgrade, downgrade or change the billing information for
            the account.</p>

    </div>

    <div class="col-sm-8">
        <h4>Upgrade plans</h4>
        <div class="alert alert-danger fade in" ng-if="paymentError">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>Oh snap! Failed to upgrade!</h4>
            <p>{{ paymentError }}</p>
            <p>
                <button type="button" class="btn btn-default" ng-click="subscribe()">Try Again</button>
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6" ng-repeat="plan in plans[preferredCurrency]">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>{{ plan.name }} <span class="label label-success" ng-if="plan.interval == 'year'">
                            Best Value!</span></strong>
                    </div>
                    <div class="panel-body">
                        <span class="price">{{ (plan.amount * quantity).toFixed(2) }}</span>
                        <span class="currency">{{ plan.currency|uppercase }}</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">x 1 User/Year:
                            <span class="amount"
                                  ng-if="plan.interval == 'month'">{{ (plan.amount * 12 * quantity).toFixed(2) }}</span>
                            <span class="amount"
                                  ng-if="plan.interval == 'year'">{{ (plan.amount * quantity).toFixed(2) }}</span>
                            <span class="currency-sign" ng-bind-html-unsafe="plan.currency_sign"></span>
                        </li>
                        <li class="list-group-item">Unlimited quicktexts</li>
                        <select id="quantity" ng-model="quantity" ng-options="n for n in [] | range:1:30"></select>
                        <label for="quantity">users.</label>
                        <li class="list-group-item">
                            <a class="btn btn-primary subscribe-button" href="" ng-click="subscribe()">Upgrade</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="!user.is_customer">
    <p>Only the account owner, can upgrade, downgrade or change the billing information.</p>
    <p>Please contact <a href="mailto:support@quicktext.io">support@quicktext.io</a> for more information.</p>
</div>

<div class="unsubscribe well">
    Quicktext is not right for you? No problem. You can delete your account:
    <br/> <br/>
    <button class="btn btn-danger" ng-click="showDeleteAccountModal()">Delete my account</button>
    <div></div>
</div>

<div ng-include="'/static/js/auth/views/account/includes/delete_account_form.html'"></div>
<script src="https://checkout.stripe.com/checkout.js"></script>
