<header>
    <h1>Statistics</h1>
</header>

<div class="stats">

    <div class="stats-details">

        <div class="stats-line" ng-if="data.count">
            <p>So far you've saved</p>

            <p class="stats-number">
                <strong>{{ data.count }}</strong>
                words
            </p>

            <p>or</p>

            <p class="stats-number" ng-if="data.times.years">
                <strong>{{ data.times.years }}</strong>
                years
            </p>
            <p class="stats-number" ng-if="data.times.days">
                <strong>{{ data.times.days}}</strong>
                days
            </p>
            <p class="stats-number" ng-if="data.times.hours">
                <strong>{{ data.times.hours}}</strong>
               hours
            </p>

            <p class="stats-number" ng-if="data.times.minutes">
                <strong>{{ data.times.minutes}}</strong>
               minutes and
            </p>
            <p class="stats-number" ng-if="data.times.seconds">
                <strong>{{ data.times.seconds}}</strong>
               seconds
            </p>
            <p>of writing text at <a class="external" target="_blank" title="WPM: Words Per Minute" href="http://en.wikipedia.org/wiki/Words_per_minute">{{ data.wpm }} WPM speed <span class="fa fa-external-link fa-1"></span></a>
            </p>
        </div>

    </div>


    <div class="graph-box">
        <h3>
          Words saved per day
        </h3>

        <div class="dropdown">
          <a class="dropdown-toggle btn btn-danger" data-toggle="dropdown">
            {{dateFormat(startDate)}} - {{dateFormat(endDate)}}
          </a>

          <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
            <div date-range start="startDate" end="endDate"></div>
          </div>
        </div>

        <div class="btn-group">
            <button class="btn btn-primary" ng-click="setChartType('line-dotted')"
                    ng-class="{ 'active' : chartType == 'line-dotted'}">Side by side
            </button>
            <button class="btn btn-primary" ng-click="setChartType('cumulative')"
                    ng-class="{ 'active' : chartType == 'cumulative'}">Cumulative
            </button>
        </div>

        <figure id="legend"></figure>
        <figure id="chart"></figure>

    </div>
</div>
