<div class="modal fade" id="import-modal" tabindex="-1" role="dialog" data-aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Import Quicktexts</h4>
            </div>
            <div class="modal-body quicktext-form">
                <form role="form" class="form-horizontal" name="quicktext-form0" action="">
                    <div class="form-group">
                        <label for="import-input">Import</label>
                        <input type="file" ng-file-select="onFileSelect($files)" id="import-input">

                        <p class="help-block">Currently only <a
                                href="https://addons.mozilla.org/en-us/thunderbird/addon/quicktext/" target="_blank">Quicktext
                            for Thunderbird</a> .xml files are supported.</p>
                    </div>
                    <div class="progress active progress-striped hide">
                        <div class="progress-bar progress-bar-info " role="progressbar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span class="cancel-bottom">
                  <a href="" data-dismiss="modal">Cancel</a>
                </span>
            </div>
        </div>
    </div>
</div>
