<div class="modal fade" id="installation-modal" tabindex="-1" role="dialog" data-aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Install Quicktext Extension
                </h4>
            </div>
            <div class="modal-body text-center">
                <p>Hey! It looks like you don't have Chrome Quicktext extension installed yet!</p>
                <p>It's highly recommend to install it, because this site doesn't make sense without it:</p>


                <button class="btn btn-primary btn-lg text-center" onclick="chrome.webstore.install()">Install Chrome Extension</button>
                <br/>
                <br/>
                <br/>

                <p>You can also watch a short tutorial below on what to do next:</p>

                <iframe width="400" height="300" frameborder="0" allowfullscreen=""
                        src="https://www.youtube.com/embed/G1WZDdT9eNU?autoplay=0&html5=1"></iframe>
            </div>
        </div>
    </div>
</div>
