<div class="modal fade" id="quicktext-share-modal" tabindex="-1" role="dialog" data-aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span ng-if="selectedQuicktexts.length == 1">Share quicktext</span>
                    <span ng-if="selectedQuicktexts.length > 1">Share {{ selectedQuicktexts.length }} quicktexts</span>
                </h4>
            </div>

            <form role="form" class="form-horizontal" name="quicktext-form0" ng-submit="saveQt()">
                <div class="modal-body quicktext-form">
                    <!-- TODO: Don't see how this fits just yet.
                    <div class="row">
                      <div class="col-xs-12">

                        <div class="form-group">
                          <label for="qt-link">Link to share (only accessible by collaborators)</label>
                          <input type="text" class="form-control" id="qt-link" ng-model="selectedQt.share.url" />
                        </div>

                      </div>
                    </div>
                    -->

                    <div class="access">
                        <label>Who has access:</label>
                        <ul class="share-user-list">
                            <li class="row" ng-repeat="share in sharing.acl">

                                <div class="col-xs-1">
                                    <img src="//www.gravatar.com/avatar/{{ share.email | gravatar }}?d=retro"
                                         class="avatar">
                                </div>

                                <div class="col-xs-6">
                                    <strong ng-bind="share.given_name"></strong>
                                    <strong ng-bind="share.family_name"></strong>
                                    <span class="muted" ng-bind="share.email"></span>
                                </div>
                                <div class="col-xs-3">
                                    <p ng-if="share.permission === 'owner'">Is owner</p>

                                    <p ng-if="share.permission === 'edit'">Can edit</p>
                                    <!--
                                    <select ng-model="share.permission">
                                      <option value="view">Can view</option>
                                      <option value="edit">Can edit</option>
                                      <option value="edit">Can edit</option>
                                    </select>
                                    -->
                                </div>
                                <div class="col-xs-1" ng-if="share.permission !== 'owner'">
                                    <button type="button" class="close" title="Revoke access"
                                            ng-click="revokeAccess()">&times;</button>
                                </div>

                            </li>
                        </ul>
                    </div>

                    <div class="well">
                        <div class="panel-body">

                            <div class="form-group">
                                <label for="qt-invite-people">People:</label>
                                <input type="text" class="form-control" id="qt-invite-people" ng-model="shareData.emails"
                                       placeholder="Email addresses"/>
                            </div>

                            <div ng-show="shareData.emails">
                               <div class="form-group share-message-container">
                                    <textarea class="form-control" rows="4" placeholder="Optional message"
                                              ng-model="shareData.message"></textarea>
                                </div>
                                <button type="button" class="btn btn-primary" ng-click="shareQuicktexts()">Share</button>
                            </div>

                            <!-- TODO: add permissions later
                              <div class="col-xs-3">
                                <select>
                                  <option value="view">Can view</option>
                                  <option value="edit">Can edit</option>
                                </select>
                              </div>
                             -->

                        </div>
                    </div>
                    <div class="row">
                        <p class="col-md-12 help-block"><strong>Note:</strong>
                        Sharing will allow both <em>editing</em> and <em>re-sharing</em> of your quicktexts.
                        </p>
                    </div>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                </div>

            </form>

        </div>
    </div>
</div>
