<div class="modal fade" id="delete-account-modal" tabindex="-1" role="dialog" data-aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete my account</h4>
            </div>
            <form role="form" class="form-horizontal" name="member-form0" action="" ng-submit="saveMember()">
                <div ng-if="formErrors" class="alert alert-danger updated-account-message">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <p ng-repeat="(field, errors) in formErrors">
                        <span ng-repeat="err in errors">{{ err }}</span>
                    </p>
                </div>
                <div class="modal-body quicktext-form">
                    <div class="alert alert-danger">Deleting your account will <strong>PERMANENTLY</strong> delete all my quicktexts, team members, statistics, backups and settings.</div>
                    <div class="form-group">
                        <label for="reason">Tell us why you're leaving so we could improve in the future:</label>
                        <textarea type="text" id="reason" class="form-control" ng-model="selectedMember.given_name" autofocus required>
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" ng-click="deleteAccount()">DELETE MY ACCOUNT</button> or
                    <span class="cancel-bottom">
                      <a href="" data-dismiss="modal">Cancel</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
