<p>Hello,</p>

<p>This is a confirmation that your password has been reset.</p>

<p>Note: If you're still having trouble logging in please contact me at: support@quicktext.io</p>

<p>Kind regards,<br/>
Alex.
</p>