<p>Hello,</p>
<p>We received a request for resetting your password on our website.
If it wasn't you who requested this please ignore this e-mail.</p>
<p><a href="{{ reset_link }}">Click here to reset your password</a></p>
<p>Note: If you're having trouble resetting your password please contact us at: support@quicktext.io</p>
<p>Kind regards,<br/>
Alex.</p>
