/* Quicktext app
 */

@import "nib";
@import "../bower_components/bootstrap/dist/css/bootstrap.css";
@import "../bower_components/font-awesome/css/font-awesome.css";
@import "../bower_components/bower-xcharts/xcharts.css";
@import "../bower_components/selectize/dist/css/selectize.bootstrap3.css";

/* Bootstrap theme
 */
@import "theme.styl"

/* angular-datepicker
 */
@import "../bower_components/angular-datepicker/dist/index.css"

/* General
 */
body {
  overflow-x: hidden;
  padding-top: emCalc(86);

  color: $black;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 15px 0 0;
  margin: 0;
}

/* Fixed header
 */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 999;
  max-width: $contentWidth;
  padding: 0 0 0 $sidebarWidth;
  margin-bottom: emCalc(16);

  // for heading letters like W that lean to much on the left side
  margin-left: -3px;

  h1 {
    display: block;
    margin: 0;
    padding: emCalc(16) 0 emCalc(12);
    border-bottom: 1px solid $grey1;
    background: linear-gradient(white, white 40%, rgba(255, 255, 255, 0.92));

    font-size: 1.5em;
  }
}

.header-actions {
  position: absolute;
  top: emCalc(16);
  right: 0;

  .form-control {
    width: emCalc(220);
  }
}

.blank-state {
  padding: emCalc(20);

  color: darken($grey1, 20%);
  font-size: emCalc(24);
  text-align: center;
}

/* View container
 */
.view-container {
  position: relative;
  width: 100%;
  max-width: $contentWidth;
  padding-left: $sidebarWidth;
}

.container-animation {
  position: relative;
  display: block;
  width: 100%;
}

.container-animation.ng-enter,
.container-animation.ng-leave {
  transition: all .1s ease-out;

  header {
    position: absolute;
    width: 100%;
    top: emCalc(-85);
    left: 0;
    padding-left: 0;
  }
}

.container-animation.ng-enter {
  opacity: 0;
  transform: translate3d(50px, 0, 0);
}

.container-animation.ng-enter.ng-enter-active {
  opacity: 1;
  z-index: 1000;
  transform: translate3d(0, 0, 0);
}

.container-animation.ng-leave {
  position: absolute;
  z-index: 101;
  transform: translate3d(0, 0, 0);
}

.container-animation.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
}

/* Sidebar
 */
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: $sidebarWidth;
  padding: emCalc(16) emCalc(20) 0 emCalc(22);
}

.brand {
  display: block;
  margin-bottom: emCalc(16);

  font-size: emCalc(28);
  line-height: 1em;
  color: lighten($black, 30%);
  vertical-align: bottom;

  img {
    width: emCalc(16);
    opacity: .8;

    vertical-align: middle;
  }

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.anonymous,
.profile-body {
  margin-bottom: emCalc(28);
}

/* Quicktexts list
 */

.quicktext-item {
  padding: emCalc(20) emCalc(4);
  margin: 0;
  border-top: 1px solid $grey1;

  &:first-child {
    border: 0;
  }

  &:hover {
    background-color: lighten($grey1, 20%);

    .quicktext-actions {
      opacity: 1;
      transition-delay: 0;
      transform: translateX(0);
    }
  }
}

.quicktext-details-primary,
.quicktext-details-secondary {
  position: relative;
}

.quicktext-details-primary {
  padding-left: emCalc(28);

  input {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.quicktext-details-secondary {
  overflow: hidden;
  min-height: emCalc(40);
  padding-right: emCalc(120);

  text-align: right;

  .quicktext-actions {
    position: absolute;
    top: 0;
    right: 0;
    width: emCalc(120);
    opacity: 0;

    transform: translateX(10px);
    transition: all .1s ease-out;
    transition-delay: .5s;

    .btn-group {
      margin-right: 1px;
    }
  }
}

.quicktext-filters {
  padding-top: 10px;
  > div {
    padding-left: 20px;
    input {
      margin-right: 10px;
    }
  }

}

/* Share modal
 */

.share-user-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 emCalc(12);

  li {
    padding: emCalc(16) 0;
    border-bottom: 1px solid $grey1;

    &:last-child {
      border-bottom: 0;
    }
  }
  .avatar {
    margin-top: emCalc(-8);
  }
}

.avatar {
  width: emCalc(40);
  border-radius: 100%;
}

.selectize-dropdown-content {
  .label {
    color: $black;
  }

  .caption {
    color: lighten($black, 20%);
  }

  .label,
  .caption {
    font-size: 1em;
  }
}

/* Account Styles
 */
.member-table {
  td, th {
    border: none !important;
  }
}

// Statistics
.stats {

  .stats-details {
    padding-bottom: emCalc(40);

    h2 {
      font-weight: normal;
      font-size: emCalc(24);
    }

    .stats-line {
      h2,
      p {
        display: inline-block;
      }

      p {
        color: darken($grey1, 40%);
      }
    }

    .stats-number {
      display: inline-block;
      padding: emCalc(4);

      color: darken($grey1, 80%);

      strong {
        margin-top: emCalc(4);

        color: $black;
        font-size: emCalc(24);
        font-weight: normal;
      }
    }
  }

  #placeholder {
    width: 100%;
    height: 450px;
  }

  .graph-box {
    h3 {
      margin: 0 0 emCalc(12) 0;
    }
  }

  .weekly-saves-graph {
    width: 100% !important;
    height: 200px;
    margin: 0 0 0 emCalc(-56);
  }

  #chart {
    width: 110%;
    height: emCalc(250);
    margin-left: -10%;
  }

  #legend {
    float: right;
    height: emCalc(60);
    width: emCalc(160);
    padding-right: emCalc(20);
  }

}

$colorTooltip = lighten(desaturate($color1, 60%), 80%);

.ex-tooltip {
  position: absolute;
  background-color: $colorTooltip;
  border: 1px solid darken($colorTooltip, 20%);
  padding: emCalc(4) emCalc(8);
  margin: 0 0 emCalc(8) emCalc(8);
  border-radius: 2px;

  color: $black;
}

