/* Quicktext Website
 */

@import "nib";

/* Shared functions, variables
 */
@import "utils";

@import "../bower_components/bootstrap/dist/css/bootstrap.css";
@import "../bower_components/font-awesome/css/font-awesome.css";
@import "../bower_components/odometer/themes/odometer-theme-default.css";
@import "../bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css";

/* Bootstrap theme
 */
@import "theme";

/* General
 */

img {
  max-width: 100%;
  height: auto;
}

.iframe-modal {
  .modal-body {
    padding: emCalc(12) 0;

    iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

section {
  padding-bottom: emCalc(120);
}

/* Forms
 */
.checkbox {
  .form-group {
    position: relative;
    padding-left: emCalc(8);

    input {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

/* Homepage
 */
.btn-social {
  font-size: emCalc(20);
  color: #fff;
}

.btn-google {
  background-color: #DF4A32;
  border-color: darken(@background-color, 20%);

  i {
    color: lighten(@background-color, 80%);
  }

  &:hover {
    color: #fff;
    border-color: darken(@background-color, 20%);
    background-color: darken(@background-color, 15%);
  }
}

.login-modal {
  .modal-body {
    height: emCalc(250);
  }
}

.register-modal {
  .modal-body {
    height: emCalc(300);
  }
  .given-name {
    padding-right: 0px;
  }
}

/* Homepage promo
 */

.promo {
  overflow: hidden;

  .screenshot {
    overflow: hidden;
    position: relative;
    bottom: -48px;
    background-color: #333;
    box-shadow: 0 0 5px darken($jumbotron, 50%);
    border-radius: 12px 12px 0 0;

    img {
      overflow: hidden;
      display: block;
      width: 100%;

      border-radius: 12px 12px 0 0;
    }

    .play-button {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: emCalc(120);
      }
    }
  }

}

.video-modal {
  iframe {
    display: block;
    width: 100%;
    height: 400px;
    margin: 0;
  }
}

/* Homepage Time saved
 */
.time-saved {
  .page-header {
    margin-bottom: emCalc(-12);

    color: darken($white, 50%);
  }
}

.odometers {
  text-align: center;

  .odometer {
    font-size: emCalc(60);
  }

  .odometer-label {
    font-size: emCalc(32);
    font-style: italic;
    color: darken($white, 50%);
    margin-right: 15px;
  }
}

/* homepage features
 */
.home-features {

  .feature-icon {
    height: emCalc(140);
    text-align: center;

    > .fa-stack {
      font-size: emCalc(60);

      .fa-stack-2x {
        color: darken($white, 10%);
      }
    }
  }

  a {
    border: 0;

    &:hover {
      background-color: lighten(desaturate($color1, 80%), 98%);

      text-decoration: none;
    }
  }

}

.tab-completion {
  padding-top: emCalc(52);

  color: #333;
  font-family: monospace;

  .keyboard-key {
    padding: emCalc(4) emCalc(8);
    border: 1px solid darken($white, 20%);
    background-color: darken($white, 5%);
    border-radius: 5px;
    box-shadow: 0 2px 2px darken($white, 5%);
  }

  .fa {
    color: darken($white, 50%);
  }

  .result-icon {
    padding: 0 emCalc(8);
  }

  .text-cursor {
    position: relative;
    top: emCalc(8);
    margin-left: emCalc(-8);
    display: inline-block;
    height: emCalc(30);
    border-right: 3px solid darken($white, 30%);

    animation: blinking 1s ease-out infinite;
  }
}

@keyframes blinking {
  0%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

/* homepage pricing
 */

.home-pricing {

  .page-header {
    margin-bottom: emCalc(60);
  }
}

.price {
  font-size: 4em;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}

.price-total {
  font-size: 20%;
  font-weight: normal;
  color: gray;
}

.price-primary {

  +breakpoint(baby-bear) {
    margin-top: -30px;
    margin-left: -31px;

    font-size: emCalc(24);
  }

}

.price-secondary {

  +breakpoint(baby-bear) {
    .panel {
      border: 0;

      .panel-heading,
      .list-group-item {
        background: transparent;
        border-color: darken($white, 5%);
      }
    }
  }
}

.signup-page {
  .signup-form {
    max-width: 50%;
    margin: 0 auto;
    .account-info {

    }
    .slider {
      margin-left: 10px;
      .slider-selection {
        background: #BABABA;
      }
    }
    .reminder {
      width: 90%;
      margin: 0 auto;
      .seal {
        &.seal-gold {
          background: url(/static/img/seal.gif) no-repeat;
          background-size: 150px;
          width: 150px;
          height: 150px;
        }
      }
      .info {
        b {
          color: #b49622;
        }
      }
    }
    .cc-info {
      margin: 0 auto;
      background: rgba(251, 253, 253, 0.8);
      border-top: 1px solid #d9ecec;
      .form-group {
          position: relative;
      }
      .cc-exp-separator {
        font-size: 32px;
      }
      .cc-types {
        position: absolute;
        right: 10px;
        top: 32px;
        .cc-icon {
          display: inline-block;
          width: 32px;
          height: 28px;
          zoom: 1;
          background-repeat: no-repeat;
          &.visa {
            background-image: url(/static/img/visa_32.png);
          }
          &.mastercard{
            background-image: url(/static/img/mastercard_32.png);
          }
          &.amex{
            background-image: url(/static/img/amex_32.png);
          }
        }
      }

    }
  }
}
