/* Quicktext Website Bootstrap Theme
 */

@import "nib";
@import "utils";

/* General
 */
body {
  font-family: 'Open Sans', sans-serif;
}

.container,
.jumbotron .container {
  max-width: 960px;
}

a {
  color: $color1;

  &:hover {
    color: saturate($color1, 20%);
  }
}

body {
  .nav > li > a.btn-primary,
  .btn-primary {
    color: $white;
    background-color: $color1;
    border-color: lighten($color1, 5%);

    &:hover {
      color: $white;
      background-color: lighten($color1, 3%);
      border-color: lighten($color1, 5%);
    }
  }

  .btn-default {
    background-color: transparent;
    color: $color1;
    border-color: darken($color1, 20%);

    &:hover {
      background-color: $color1;
      border-color: darken($color1, 20%);

      color: $white;
    }
  }

  .btn-primary:focus,
  .btn-primary.active {
    background-color: saturate($color1, 50%);
    border-color: darken($color1, 40%);
    box-shadow: 0 0 5px rgba($color1, .3);

  }
}

.form-control,
.btn {
  border-radius: 3px;
}

/* Navbar
 */
.navbar-static-top {
  border: 0;
  margin: 0;
  background-color: $jumbotron;

  .navbar-brand {
    color: lighten($jumbotron, 80%);
    font-size: emCalc(32);

    img {
      max-width: emCalc(20);
    }
  }

  .navbar-brand,
  li > a {
    padding: emCalc(10) emCalc(15);
  }

  .navbar-nav {
    margin: emCalc(20) 0;
  }

  .nav > li > a {
    background-color: transparent;

    color: saturate($color1, 30%);

    &:hover {
      color: lighten($color1, 20%);
    }
  }

  .btn {
    margin-left: emCalc(12);
  }
}

/* Jumbotron
 */
.jumbotron {
  background-color: $jumbotron;
  box-shadow: 2px 0 10px lighten($jumbotron, 80%);

  color: $white;
  text-align: center;

  h1 {
    font-weight: 300;
  }

  .btn {
    font-size: emCalc(10);
    text-transform: uppercase;
  }

  .btn-default:hover {
    background-color: lighten($jumbotron, 5%);
  }
  .no-credit-card {
    font-size: emCalc(16);
    color: darken($white, 20%);
  }
}

/* Page header
 */
.page-header {
  border: 0;

  text-align: center;

  small {
    display: block;
  }
}

/* Forms
 */
.form-control:focus {
  border-color: lighten($color1, 10%);
  box-shadow: inset 0 0 0 1px lighten($color1, 10%);
}


/* Nav pills
 */

.nav-pills {

  > li {
    margin-left: emCalc(-22) !important;
    border-left: 6px solid transparent;

    line-height: .8em;

    > a {
      color: darken($grey1, 40%);
      border-radius: 0;

      &:hover {
        background: none;
      }
    }

    &.active {
      border-color: darken($grey1, 60%);

      a {
        background: none;

        color: darken($grey1, 60%);

        &:hover {
          background: none;
          cursor: default;

          color: darken($grey1, 60%);
        }
      }
    }

  }
}

.nav-stacked {
  margin: 1em 0;

  > li {
    line-height: 1.1em;
  }

  > li:last-child {
    margin-top: 2em;
  }
}

/* Button toolbar
 */
.btn-toolbar {
    padding-bottom: emCalc(12);
    margin: 0;
    border-bottom: 1px solid $grey1;
}

/* Modal
 */
.modal-content {
  .modal-header {
    border: 0;
  }

  .modal-body {
    .form-group {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
