/* Utils
 */

/* Variables
 */

$color1 = #067b82;
$white = #fff;
$grey1 = #eee;
$black = #333;
$jumbotron = darken(desaturate($color1, 90%), 60%);
$sidebarWidth = 20%;
$contentWidth = 1024px;

/* Mixins
 */

/* Px to Em
 */
emCalc(h) {
  unit(h/16, 'em');
}


/* Breakpoints
 */
breakpoint($point) {

  if $point is papa-bear {
    @media (min-width: 980px) {
      {block}
    }
  }
  if $point is mama-bear {
    @media (min-width: 760px) {
      {block}
    }
  }
  if $point is baby-bear {
    @media (min-width: 480px)  {
      {block}
    }
  }

  .lt-ie9 & {
    {block}
  }
}
