{% macro render_field(field, col="", label_extra="") %}
    <div class="form-group {{ col }}{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.name }}" class="control-label">
            {{ field.label.text }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="label label-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
            {{ label_extra|safe }}
        </label>
        {{ field(**kwargs)|safe }}
        {% if field.description %}
            <span class="help-block">{{ field.description }}</span>
        {% endif %}
    </div>
{% endmacro %}
